<h3>On The Way</h3>
<a class="pull-right"  href="#">View All</a>
<% appointments.each do |appo| %>
	<%= render partial: "spree/account_management/appointments/appointment", locals: {appointment: appo} %>
	<br>
<% end %>