<form class="purch add_review_form needs-validation", novalidate="" style="display: block;">
  <textarea class="form-control" id="text" name="text" maxlength="1500" rows="5" placeholder="" required=""></textarea>
  <label class="limt-text" id="count_message">1500</label>
  <div class="add-rev-btns">
    <button class="cancel-btn">Cancel</button>
    <button class="sub-btn-add">SUBMIT REVIEW</button>
  </div>
</form>