<!-- <%# store_contents             =  Spree::PageContent.from_gen_slug('store-dtl') %>
<%# store_heading_content      =  store_contents.from_gen_slug('store-dtl-heading')%>
<%# @store_unfollow_content  =  store_heading_content.spec_slug('store-dtl-heading-unfollow').last%>

<div class="col-lg-3 col-md-3 col-sm-3" >

  <%# if store.logo_image.attached? %>
	     # <%#= link_to(image_tag(main_app.url_for(store.logo_image), height: "100", width: "100") , vendor_path(store.slug)) %>
	    <%# else %>
	      <%#= link_to image_tag("store-logo-1.png", :alt => "Store Logo"), vendor_path(store.slug) %>

  <%# end %>
  <br>
  <br>

#  <%#= link_to  @store_unfollow_content.try(:title) , vendor_follower_path(store.id), method: :delete, remote: true, class: "btn btn-danger btn-small", :data => {:confirm => 'Are you sure?'}  %>

</div> -->



<% store_contents = Spree::PageContent.from_gen_slug('store-dtl') %>
<% store_heading_content = store_contents.from_gen_slug('store-dtl-heading')%>
<% @store_unfollow_content = store_heading_content.spec_slug('store-dtl-heading-unfollow').last%>
<% if stores.any? %>
  <% stores.each do |store| %>

<li class="col-lg-3 col-md-3 col-sm-3 amet-pt">
	
	<% if store.logo_image.attached? %>
	  <%= link_to(image_tag(main_app.url_for(store.logo_image), height: "100", width: "100") , vendor_path(store.slug)) %>
	  <% else %>
	  <%= link_to image_tag("store-logo-1.png", :alt => "Store Logo"), vendor_path(store.slug) %>
	<% end %>
  <p><%= truncate(store.about_us, length: 50) %></p><br>

  <%= button_to @store_unfollow_content.try(:title) , vendor_follower_path(store.id), :class => "un_follow", :method => :delete, remote: true,  :data => {:confirm => 'Are you sure?'} %>
</li>
  <% end %>
<% else %>
  <li>No Store(s) Found </li>
<% end %>