<table class="address">
  <tr>
    <td width="45%" class="billing_header bold"><%=Spree.t(:billing_address)%></td>
    <td width="17%"></td>
    <td width="45%" class="shiping_header bold"><%=Spree.t(:shipping_address)%></td>
  </tr>
  <% addresses.each do |row| %>
    <tr>
      <td height="15px" width="45%" class="billing" class="cell"><%=row[0]%> </td>
    <td width="17%"></td>
      <td height="15px" width="45%" class="shiping_header" class="cell"><%=row[1]%> </td>
    </tr>
  <% end %>
</table>

