<% if @spree_user_address.save %>
	var html = "<%= j render partial: 'spree/account_management/address/user_addresses_section', locals: {addresses: spree_current_user.addresses, user: spree_current_user} %>"
	$("#user-"+ <%= spree_current_user.id %> + "-addresses-section").html(html);
	$('#address-info-sec').html("<p>Address Created Successfully</p>")
	$('#address-info-sec').addClass("alert-success")
	$('#address-info-sec').removeClass('hide alert-danger')

<% else %>
	$('#address-info-sec').html("<p><%= @spree_user_address.errors.messages%></p>")
	$('#address-info-sec').addClass("alert-danger")
	$('#address-info-sec').removeClass('hide alert-success')

	$('html, body').animate({
          scrollTop: $("#address-info-sec").offset().top
      }, 2000);
<% end%>


