<div class="text-center">
	<h1 class="text-center ">My Reviews</h1>
</div>
<hr>
<p class="text-center"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
<div class="col-md-12">
	<% if @user.reviews.any? %>
	 <div class="clear-fix"></div>
	 <div>
	 	<% @user.reviews.each do |review| %>
	 	 <div style="background-color: white;">
	 	 	
	 	 	<p><strong>Desc:</strong>   <%= review.review %></p>
	 	 	<p><strong>On Product:</strong>  <%= link_to   review.product.name, product_path(review.product), target: "_blank" %></p>
	 	 	<p><strong>Rating:</strong>   <%= review.rating %></p>
	 	 	<p><strong>Date:</strong>   <%= review.created_at.strftime("%m/%d/%Y") %></p>
	 	 </div>
	 	 <hr>
	 	<% end %>
	 </div>
	<% else %>
		<p> No Review(s) Found </p>
	<% end %>
	
</div>
<p>
	<%#= f.submit "Save", :class => 'btn btn-primary' %>
</p>